body, button, #bug-container, .bug {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
  padding: 30px;
  margin: 0;
}

#installBtn {
  background-color: #ffcc00;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
#installBtn:hover {
  background-color: #ffaa00;
}

#bug-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.bug {
  position: absolute;
  width: 40px;
  height: auto;
  pointer-events: auto;
  transition: transform 0.2s linear;
}

#hud {
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  z-index: 1;
  width: 95%;
  position: relative;
}

#hud button {
  margin-top: 5px;
  padding: 4px 8px;
  cursor: pointer;
}

.gamename {
  text-align: center;
}

#info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 4;
  display: none;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#info-popup button {
  margin-top: 10px;
}

#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
